<div *ngIf="!name; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="form-container">
      <div class="row columns">

        <h1>Új recept hozzáadása</h1>

        <label>Recept neve
          <input type="text" formControlName="name">
        </label>
        <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{ titleAlert }}</div>

        <div class="bs-callout bs-callout-info">
          <h3>Összetevők</h3>
          <input class="form-control" formControlName="ingredient" type="text" placeholder="Kezd el gépelni az összetevő nevét">
          <div class="alert" *ngIf="!rForm.controls['ingredient'].valid && rForm.controls['ingredient'].touched">Leglább egy összetevőt hozzá kell adni</div>
          <select name="unit" formControlName="unit">
            <option value="gramm">g</option>
            <option value="dkg">dkg</option>
            <option value="liter">l</option>
          </select>
          <button type="button" class="btn btn-default">Új összetevő</button>
        </div>
        <div class="bs-callout bs-callout-info">
          <h3>Előkészités</h3>
          <textarea formControlName="preparation" rows="4" cols="50" placeholder="Írd le, hogy miilyen előkészítési folyamatok szükségesek. Pl. felvágni a zöldségeket, stb."></textarea>
          <div class="alert" *ngIf="!rForm.controls['preparation'].valid && rForm.controls['preparation'].touched">Leglább egy összetevőt hozzá kell adni</div>
        </div>

        <div class="bs-callout bs-callout-info">
          <h3>Folyamatok</h3>
          <textarea  formControlName="process" rows="4" cols="50" placeholder="Írd le a folyamatokat"></textarea>
          <div class="alert" *ngIf="!rForm.controls['process'].valid && rForm.controls['process'].touched">Leglább egy összetevőt hozzá kell adni</div>
          <button type="button" class="btn btn-default">Új folyamat</button>
        </div>
        <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
</div>

<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
      <h1>{{ name }}</h1>

      <p>{{ ingredient }} {{ unit }}</p>
      <p>{{ preparation }}</p>
      <p>{{ process }}</p>


    </div>
  </div>
</ng-template>