<div *ngIf="!recipeName; else forminfo">
  <form [formGroup]="recipeForm" (ngSubmit)="addPost(recipeForm.value)">
    <div class="form-container">
      <div class="row columns">

        <h1>Új recept hozzáadása</h1>

        <label>Recept neve
          <input type="text" formControlName="recipeName">
        </label>
        <div class="alert" *ngIf="!recipeForm.controls['recipeName'].valid && recipeForm.controls['recipeName'].touched">{{ titleAlert }}</div>

        <div class="bs-callout bs-callout-info">
          <h3>Összetevők</h3>

          <div class="alert" *ngIf="!recipeForm.controls['ingredients'].valid && recipeForm.controls['ingredients'].touched">Minden összetevőt ki kell tölteni</div>
          <div formArrayName="ingredients" *ngFor="let ingredient of ingredients.controls; let i = index;">
            <div [formGroupName]="i">
              <input type="text" formControlName="name" placeholder="Kezd el gépelni az összetevő nevét"/>
              <select name="unit" formControlName="unit">
                <option value="gramm">g</option>
                <option value="dkg">dkg</option>
                <option value="liter">l</option>
              </select>
              <input type="text" formControlName="quantity" placeholder="mennyiség"/>
            </div>
            <div *ngIf="ingredients.length > 1"><button type="button" (click)="removeIngredient(i)">Törlés</button></div>
          </div>
          <button type="button" (click)="addIngredient()">Új összetevő</button>
        </div>

        <div class="alert" *ngIf="!recipeForm.controls['preparations'].valid && recipeForm.controls['preparations'].touched">Minden előkészítést ki kell tölteni</div>
        <div formArrayName="preparations" *ngFor="let preparation of preparations.controls; let i = index;">
          <div [formGroupName]="i">
            <input type="text" formControlName="description" placeholder="Előkészítés leírása"/>
            <input type="text" formControlName="duration" placeholder="időtartam"/>
          </div>
          <div *ngIf="preparations.length > 1"><button type="button" (click)="removePreparation(i)">Törlés</button></div>
        </div>
        <button type="button" (click)="addPreparation()">Új összetevő</button>


        <div class="alert" *ngIf="!recipeForm.controls['processes'].valid && recipeForm.controls['processes'].touched">Minden folyamatot ki kell tölteni</div>
        <div formArrayName="processes" *ngFor="let process of processes.controls; let i = index;">
          <div [formGroupName]="i">
            <input type="text" formControlName="description" placeholder="Add hozzá a részfolyamatot"/>
            <input type="text" formControlName="duration" placeholder="időtartam"/>
          </div>
          <div *ngIf="processes.length > 1"><button type="button" (click)="removeProcess(i)">Törlés</button></div>
        </div>
        <button type="button" (click)="addProcess()">Új folyamat</button>

        <input type="submit" class="button expanded" value="Submit Form" [disabled]="!recipeForm.valid">
      </div>
    </div>
  </form>
</div>

<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
      <h1>{{ recipeName }}</h1>

      <p>{{ preparation }}</p>
      <p>{{ process }}</p>
      <ul>
        <li *ngFor="let ingItem of showIng">{{ingItem.name}} {{ingItem.unit}}</li>
      </ul>
      <ul>
        <li *ngFor="let processItem of showProcesses">{{processItem.description}} </li>
      </ul>
    </div>
  </div>
</ng-template>
