<div class="jumbotron">
  <h1>Admin felület</h1>
  <p>Ezen az oldalon lehet új recepteket hozzáadni, illetve azokat és a hozzátartozó elemeket szerkeszteni</p>
  <p>
    <a [routerLink]="['/admin/recipe']" class="btn btn-primary btn-lg" role="button">Új recept</a>
    <a [routerLink]="['/admin/recipe/edit']" class="btn btn-primary btn-lg" role="button">Receptek szerkesztése</a>
    <a [routerLink]="['/admin/recipe/ingrinfo']" class="btn btn-primary btn-lg" role="button">Hozzávaló infók szerkesztése</a>
  </p>
</div>
