<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a [routerLink]="['/']">Kezdőlap</a></li>
        <li role="presentation"><a [routerLink]="['/about']">Rólunk</a></li>
        <li role="presentation" class="active"><a [routerLink]="['/contact']">Elérhetőség</a></li>
        <li role="presentation"><a [routerLink]="['/admin/main']">Admin</a></li>
        <li role="presentation"><a [routerLink]="['/login']">Kijelentkezés</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Kapcsolat</h3>
  </div>
  
  <div class="jumbotron">
    <h1>Kapcsolat</h1>
    <p>Under construction...</p>
  
    
  </div>
  </div>