<div class="container">
  <div class="header clearfix">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li role="presentation" class="active" *ngIf="route === 'home'">
            <a class="nav-link"[routerLink]="['/']">Kezdőlap</a>
          </li>
          <li  class="nav-item active" role="presentation" *ngIf="route !== 'home'">
            <a class="nav-link"[routerLink]="['/']">Kezdőlap</a>
          </li>

          <li  class="nav-item active" role="presentation" class="active" *ngIf="route === 'recipe'">
            <a class="nav-link"[routerLink]="['/recipe']">Receptek</a>
          </li>
          <li  class="nav-item active" role="presentation" *ngIf="route !== 'recipe'">
            <a class="nav-link"[routerLink]="['/recipe']">Receptek</a>
          </li>

          <li  class="nav-item active" role="presentation" class="active" *ngIf="route === 'search'">
            <a class="nav-link"[routerLink]="['/search']">Receptek keresése</a>
          </li>
          <li  class="nav-item active" role="presentation" *ngIf="route !== 'search'">
            <a class="nav-link"[routerLink]="['/search']">Receptek keresése</a>
          </li>

          <li  class="nav-item active" role="presentation" class="active" *ngIf="route === 'blog'">
            <a class="nav-link"[routerLink]="['/blog']">Blog</a>
          </li>
          <li  class="nav-item active" role="presentation" *ngIf="route !== 'blog'">
            <a class="nav-link"[routerLink]="['/blog']">Blog</a>
          </li>

          <li  class="nav-item active" role="presentation" class="active" *ngIf="route === 'contact'">
            <a class="nav-link"[routerLink]="['/contact']">Kapcsolat</a>
          </li>
          <li class="nav-item active" role="presentation" *ngIf="route !== 'contact'">
            <a class="nav-link"[routerLink]="['/contact']">Kapcsolat</a>
          </li>

          <li class="nav-item active" role="presentation" class="active" *ngIf="route === 'registration'">
            <a class="nav-link"[routerLink]="['/registration']">Regisztráció</a>
          </li>
          <li class="nav-item active" role="presentation" *ngIf="route !== 'registration'">
            <a class="nav-link"[routerLink]="['/registration']">Regisztráció</a>
          </li>

          <li class="nav-item active" role="presentation" class="active" *ngIf="route === 'admin'">
            <a class="nav-link"[routerLink]="['/admin/main']">Admin</a>
          </li>
          <li class="nav-item active" role="presentation" *ngIf="route !== 'admin'">
            <a class="nav-link"[routerLink]="['/admin/main']">Admin</a>
          </li>

          <li class="nav-item active" role="presentation">
            <a class="nav-link"[routerLink]="['/login']">Kijelentkezés</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
